  @import "tailwindcss";


  @custom-variant dark (&:where(.dark, .dark *));

  @layer utilities {
    .page {
      opacity: 0;
      transition: opacity 0.4s ease;
    }

    .page.show {
      opacity: 1;
    }

    .outfit {
      font-family: Outfit;
    }

    .icon {
      font-size: clamp(1.8rem, 4vw, 4rem);
      text-align: center;
      margin: clamp(4px, 1vw, 8px);
      transition: all 0.1s ease;
    }

    .icon:hover {
      transform: scale(1.2);
      color: #ffc21b;
    }

    .desktop-only {
      display: flex;
    }

    .mobile-only {
      display: none;
    }

    .button {
      display: block;
      padding: 20px 8vw;
      text-align: center;
      border: solid 2px #0B0D2A;
      font-size: 2.5vw;
      box-shadow: 7px 3px 0px #0B0D2A;
      font-weight: 600;
      white-space: nowrap;
      border-radius: 32px;
    }

    .button:hover {
      transform: translate(-5px, -5px);
      box-shadow: 17px 17px 0 #0B0D2A;
      background-color: #ffc21b;
      color: white;

    }

    .button .hover-resume {
      display: none;
      font-size: 2vw;
    }

    .button:hover .default-resume {
      display: none;
    }

    .button:hover .hover-resume {
      display: inline;
    }

    .abtcard {
      width: 320px;
      padding: 30px;
      border: 3px solid #0B0D2A;
      box-shadow: 10px 10px 0 #0B0D2A;
      transform: rotate(-2deg);
      transition: all 0.3s ease;
      overflow: hidden;
    }

    .banner:hover .banner-text:first-child {
      opacity: 0;
      transform: translateY(-100%);
    }

    .banner:hover .banner-text:last-child {
      opacity: 1;
      transform: translateY(-40%);
    }

    .banner-text:last-child {
      opacity: 0;
      transform: translateY(60%);
    }

    .banner:hover {
      background: rgb(255, 255, 255);
      color: #0B0D2A;
    }

    .swiper {
      width: 90%;
      height: auto;
    }

    .s-card {
      overflow: hidden;
    }

    .s-card:hover {
      transform: scale(1.05);
    }

    .card-content {
      transform: translateY(100%);
    }

    .s-card:hover .card-content {
      transform: translateY(0);
    }

    .modal {
      position: fixed;
      border-radius: 30px;
      border: solid 2px #0B0D2A;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      pointer-events: none;
    }

    .modal.open {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .only-thumb::-webkit-scrollbar {
    width: 6px;
  }

  .only-thumb::-webkit-scrollbar-track {
    background: transparent;
  }

  .only-thumb::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 9999px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #0B0D2A;
  }

  .cubic-t {
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .resize-t {
    transition: all 0.1s ease-in-out;
  }

  .floating {
    animation: float 3s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  @media screen and (max-width: 1000px) {
    /* All Pages */
    .main-con {
      height: 600px;
    }

    .hero-icons {
      bottom: 585px;
    }

      /* Landing */
    .dark-light {
      top: 500px;
    }

    .home-b {
      border-radius: 25px;
    }

    .modal-con li {
      border-radius: 25px;
    }

    .in-con {
      margin-top: 92px;
    }

    .in-con img {
      align-self: center;
    }

    /* About */

    .hero-icons-about {
      bottom: 620px;
    }

    .dark-light-pages {
      width: 35px;
    }

  }

  @media screen and (max-width: 890px) {

    /* All Pages */
    .main-con {
      margin-top: 35px;
      height: 680px;
    }

    .hero-icons {
      bottom: 665px;
    }

    .hero-icons div {
      padding: 4px;
    }

    .icon {
      margin: 4px;
    }

    /* Landing */
    .in-con {
      margin-top: 60px;
    }

    .in-con div {
      flex-direction: column;
    }

    .in-con ul {
      align-items: center;
    }

    .in-con img {
      margin: 0;
    }


    .button {
      padding: 15px;
      width: 250px;
      margin: 3px;
      border-radius: 20px;
    }

    .button-con {
      gap: 1px;
    }

    .dark-light {
      top: 580px;
    }

    .dark-light img {
      width: 40px;
    }

    /* About */

    .in-con-pages {
      margin-top: 100px;
    }

    .pages-hero {
      margin-left: 20px;
    }
  }

  @media screen and (max-width: 768px) {

    /* All Pages */
    .main-con {
      margin-top: 30px;
      height: 700px;
      border: solid 2px #0B0D2A;
      margin-left: 50px;
      margin-right: 50px;
    }

    .hero-icons {
      bottom: 685px;
      border: solid 2px #0B0D2A;
      margin-left: 20px;
      margin-right: 20px;
    }
    /* Landing */
    .hero-icons .hero {
      display: flex;
      margin-left: 10px;
      margin-right: 30px;
      gap: 0;
      padding: 10px;
    }

    .hero-icons .hero h1 {
      text-align: center;
    }

    .in-con {
      margin-top: 55px;
      padding-bottom: 0;
    }

    .button-con {
      gap: 3px;
    }

    .button {
      font-size: 3vw;
    }

    .desktop-only {
      display: none;
    }

    .mobile-only {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .dark-light img {
      width: 30px;
    }

    .button:hover .hover-resume {
      display: none;
    }

    .button:hover .default-resume {
      display: inline;
    }

    .button:hover {
      box-shadow: 5px 8px 0 #0B0D2A;
    }

    /* About */
    .pages-hero {
      margin-left: 10px;
    }
    
     .modal-dark {
      gap : 0;
     }

     .dark-light-pages {
      width: 25px;
    }
    
  }

  @media screen and (max-width: 425px) {

    /* Landing */
    .main-con {
      height: 650px;
      margin-left: 30px;
      margin-right: 30px;
    }
    .button-con {
      gap: 7px;
    }
    .button {
      border-radius: 18px;
    }

    .hero-icons {
      bottom: 635px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .dark-light img {
      width: 20px;
    }

    /* About */

  }