  @import "tailwindcss";

  @custom-variant dark (&:where(.dark, .dark *));

  @layer utilities {
    .outfit {
      font-family: Outfit;
    }
    .icon {
      font-size: clamp(1.5rem,4vw,4rem);
      text-align: center;
      margin: 0 clamp(4px, 1vw, 8px);
      transition: all 0.1s ease;
    }
    .button {
      margin: 0.5rem;
      padding: 20px 8vw;
      text-align: center;
      border: solid 2px #0B0D2A;
      font-size: 2.5vw;
      box-shadow: 7px 3px 0px #0B0D2A;
      font-weight: 600;
      white-space: nowrap;
    }
  }

  .resize-t{
    transition: all 0.1s ease;
  }

  .floating {
    animation: float 3s ease-in-out infinite;
  }

  @keyframes float {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  }

  @media screen and (max-width: 890px) {
    #main-con{
      margin-top: 35px;
      height: 680px;
    }
    #buttons-con {
      flex-direction: column;
    }
    .button{
      padding: 15px;
      width: 250px;
      margin: 3px;
    }
    #buttons-con ul{
      align-items: center;
    }
    #buttons-con img{
      margin: 0;
    }
    #hero-icons {
      bottom: 665px;
    }
    h1 {
      margin-left: 20px;
    }
    #content-con{
      margin-top: 55px;
    }
  }
